html
    head
        title Login page
    body
        #content
            input(type="text",placeholder="username")
            br 
            br
            input(type="password",placeholder="Password")
            br
            br
            input(type="button", value="Submit")

